[submodule "cutlass_mononn"]
	path = cutlass_mononn
	url = git@gitlab.alibaba-inc.com:zhuangdonglin.zdl/cutlass_mononn.git
	branch = donglin/dev
[submodule "tensorflow_mononn"]
	path = tensorflow_mononn
	url = git@gitlab.alibaba-inc.com:zhuangdonglin.zdl/tensorflow_mononn.git
	branch = r2.9-mononn
